<form [formGroup]="form" (ngSubmit)="regisztracio()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Regisztráció</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="reg-form">
                <mat-form-field appearance="outline">
                    <mat-label>Név</mat-label>
                    <input matInput placeholder="Név" id="nev" formControlName="nev">
                    <mat-error *ngIf="form.controls['nev'].errors?.['required']">
                        A nevet meg kell adni
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="email" formControlName="email">
                    <mat-error *ngIf="form.controls['email'].errors?.['required']">
                        Az email-t meg kell adni
                    </mat-error>
                    <mat-error *ngIf="form.controls['email'].errors?.['email']">
                        Az email-t helyesen, @-al kell adni
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Telefonszám</mat-label>
                    <input matInput placeholder="Telefonszám" formControlName="telszam">
                    <mat-error *ngIf="form.controls['email'].errors?.['required']">
                        A telefonszámot meg kell adni
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-button color="primary">Regisztráció</button>
        </mat-card-actions>
    </mat-card>
</form>